.one{
    color:blueviolet;
    background-color:bisque;
    font-family: "Times New Roman", Times, serif;
    text-align:"center"
}

.second{
    color:aqua;
    background-color:grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align:"justify"
}
h1{
    color:brown;
    background-color:rgb(170, 255, 0);
    font-family: "Times New Roman", Times, serif;
    font-size: 16px
}
div p{
    color:blueviolet;
    background-color:beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px


}
